@import "bootstrap.less";

.container .jumbotron {
  background: none;
  padding:  0;
  margin-top: 3em;
  margin-bottom: 1.6em;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  }

.slabtexted .slabtext
{
  display:-moz-inline-box;
  display:inline-block;
  white-space:nowrap;
}
.slabtextinactive .slabtext
{
  display:inline;
  white-space:normal;
  font-size:1em !important;
  letter-spacing:inherit !important;
  word-spacing:inherit !important;
  *letter-spacing:0 !important;
  *word-spacing:0 !important;
}
.slabtextdone .slabtext
{
  display:block;
}

.stat {
  margin-bottom: 2.3em;
}

.stat-title {
  font-weight: normal;
  margin:  0;
  padding-bottom: 0.6em;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

.stat-text {
  font-weight: normal;
  margin:  0;
}

.stat-large  {

}

.stat-medium {
  display: inline-block;
  margin-right: 2.4em;
}
